@model IEnumerable<QLPhongKH.Models.BaiViet>
<div class="mb4">
    <h2 class="mb-4">@ViewBag.tenLoai</h2>
    @foreach (var item in Model)
    {
        <a class="d-flex align-items-center text-decoration-none mb-4" href="~/BaiViet/ChiTiet?id=@item.MaBaiViet">
            <img class="img-fluid rounded anhbe" src="~/assets/img/team-1.jpg" alt="">
            <div class="pl-3">
                <h6> @item.TenBaiViet</h6>
            </div>
        </a>
    }
</div>
